body {
  background-color: #eeedf2;
  color: #6f7287;
  font-family: "Neue Plak", sans-serif;
  margin: 0;
}
.header-nav__container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 16px;
  flex-flow: row wrap;
}
#logo {
  width: 200px;
  left: 30px;
  position: absolute;
  margin-top: 45px;
  top: 0px;
  color: #f05537;
  font-size: 50px;
}
.header-nav__group a {
  color: #f05637;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.team__container h1, boards__sidebar h2 {
  color: #6f7287;
  position: absolute;
  left: 5px;
  font-size: 20px;
}
.tabbed-nav__container {
  background-color: #f4f5f7;
  padding-top: 25px;
}
.tabbed-nav__group {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dfe1e6;
}
.tabbed-nav__link {
  border: 2px solid darkgray;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  margin:0 5px;
  color: #6f7287;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-weight: bold;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px grey;
}
.boards__container {
  display: flex;
  flex-flow: row wrap;
  padding: 32px;
  margin: 0 auto;
  max-width: 1400px;
}
